body {
    margin: 0;
}

.header {
    background-image: url(../VerstkaSaita1/Img/baner/baner-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}


.container {
    margin: 0px 166px;
}

.btn-title {
    padding-left: 480px;
    margin-top: -21px;
    padding-right: 270px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 14px;

    
}

.btn {
    text-decoration: none;
    padding-left: 40px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    transition: color 0.4s linear;
}

.btn:hover {
    color: rgb(204, 143, 216);
   
}

.header-title {
    font-family: 'Lora', serif;
    font-size: 26px;
    font-weight: 400;
    padding-top: 21px;
    padding-left: 163px;
    color:  #FFFFFF;
}


.header-center {
    font-family: 'Lora', serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    padding-top: 177px;
    color: #FFFFFF;
    padding-bottom: 20px;
}



.header-undercenter {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFFA1;

}


.header-button {
    text-align: center;
    padding-top: 31px;
   
}


.btn-txt {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 13px;
    background:  #DD783F;
    padding: 13px 36px;
    border-radius: 5px;
    transition: color 0.4s linear;
}

.btn-txt:hover {
    background-color: #c4632c;;
}


/*--Header down - Recomend ---*/

.recomend {
    text-align: center;
}

.recomend-btn {
    padding-top: 22px;
    margin-left: -80px;
    
}

.btn-rec {
   padding-left: 80px;
   color: #768088;
   text-decoration: none;
   font-family: 'Lora', serif;
   font-size: 14px;
   font-weight: 400;
}


/*-----------Featured Posts------------*/


.posts {
    background: #F7F7F7;

}

.posts-title {
    padding-top: 60px;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 20px;  
    padding-bottom: 16px; 
    color: #2E2E2E;

}

.decor {
    font-size: 1px;
    background-color: #DEDEDE;
    height: 1px;
    text-align: center;
    width: 150px;
    margin-left: 538px;
    margin-bottom: 23px;
}

.button-advent {
    
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: -236px;
    margin-left: -328px;
}

.btn-adv {
    background-color: #DD783F;
    padding: 7px 9px;
    border-radius: 2px;
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.4s linear;
}

.btn-adv:hover {
    background-color: #c4632c;
}

/*---------first 2 posts---------*/
.posts {
    padding-bottom: 108px;
}
/*1*/

.post-1 {
    display: flex;
}

.img-post {
    padding-left: 144px;
}

.img2posts {
    padding-left: 10px;
}

.title-1 {
    font-family: 'Lora', serif;
    font-size: 27px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 20px;
    margin-top: -128px;
}

.post-1-desc {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 14px; 
    color: #FFFFFFB2;
    padding-left: 20px;
    padding-top: 9px;
    padding-bottom: 17px;
}

.small-img-1 {
    padding-left: 20px;
}


.Name-mans-1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 12px; 
    margin-top: -23px;
    padding-left: 56px;
    color: #FFFFFF;
}

.date {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 12px; 
    color: #FFFFFF;
    padding-left: 322px;
    margin-top: -13px;
}

.post-2 {
    margin-left: 329px;
    margin-top: -257px;
}





/*---------Post 2 page---------*/

.line-1 {
    display: flex;
    padding-top: 22px;
    padding-left: 139px;
}

.most-title {
    padding-top: 387px;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 20px;  
    padding-bottom: 16px;
    color: #2E2E2E;
}


.decor1 {
    font-size: 1px;
    background-color: #EFEFEF;
    height: 1px;
    width: 295px;
}

/*----first line(3 page)----*/
.fp-title-1 {
    font-family: 'Lora', serif;
    font-size: 16px;
    font-weight: 400;
    color: #101315;
    padding-top: 14px;
    padding-bottom: 6px;
    padding-left: 13px;
}

.inf-fp-1 {
    display: flex;
}


.fp-desc-1 {
    color: #7A7A7A;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 13px; 
    padding-bottom: 32px;
    padding-left: 13px; 
} 

.FP-mans-face-1 {
    padding-top: 12px;
    padding-left: 13px;
}

.FP-name-mans {
    padding-top: 19px;
    padding-left: 10px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 11px; 
    color: #999999;
}

.FP-date-1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    padding-top: 19px;
    padding-left: 100px;
    
}



/*--------Post 2 page part 2----------*/

.sec-page-2 {
    padding-left: 24px;
}

.decor2 {
    font-size: 1px;
    background-color: #EFEFEF;
    height: 1px;
    width: 295px;
}
/*------second line (3 page)---------*/


.sp-title-2 {
    font-family: 'Lora', serif;
    font-size: 16px;
    font-weight: 400;
    color: #101315;
    padding-top: 14px;
    padding-bottom: 6px;
    padding-left: 13px;
}

.inf-Sp-2 {
    display: flex;
}


.sp-desc-2 {
    color: #7A7A7A;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 13px; 
    padding-bottom: 12px;
    padding-left: 13px; 
} 

.SP-mans-face-2 {
    padding-top: 12px;
    padding-left: 13px;
}

.SP-name-mans {
    padding-top: 19px;
    padding-left: 10px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 12px; 
    color: #999999;
}

.SP-date-2 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    padding-top: 19px;
    padding-left: 100px;
    
}


/*------END first line (3v3 page)*/
.thi-page-3 {
    padding-left: 24px;
}

.decor3 {
    font-size: 1px;
    background-color: #EFEFEF;
    height: 1px;
    width: 295px;
}


/*--------3 page end--------*/

.tp-title-3 {
    font-family: 'Lora', serif;
    font-size: 16px;
    font-weight: 400;
    color: #101315;
    padding-top: 13px;
    padding-bottom: 6px;
    padding-left: 13px;
}

.inf-Tp-3{
    display: flex;
}


.tp-desc-3 {
    color: #7A7A7A;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 13px; 
    padding-bottom: 12px;
    padding-left: 13px; 
} 

.TP-mans-face-3 {
    padding-top: 9px;
    padding-left: 13px;
}

.TP-name-mans {
    padding-top: 16px;
    padding-left: 10px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 12px; 
    color: #999999;
}

.TP-date-3 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    padding-top: 16px;
    padding-left: 100px;
    
}


/*-----------Page 2 ---------*/

.line-2 {
    padding-top: 25px;
    display: flex;
    padding-left: 139px;
}

.sp-2desc-2 {
    color: #7A7A7A;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 13px; 
    padding-bottom: 26px;
    padding-left: 13px; 
} 


.fp-2desc-1 {
    color: #7A7A7A;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 13px; 
    padding-bottom: 13px;
    padding-left: 13px; 
} 



/*---------------3 page and-------------*/



.img-fon {
   
    margin-left: -395px;
}

.down-title {
    
    margin-top: -290px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 25px;  
    padding-bottom: 17px;
    color: #EFEFEF;
    padding-left: 373px;
    padding-top: -5px;
}

.info-down-2 {
    display: block;
   
    
}




.reges-3 {
    margin-top: 16px;
    border-radius: 2px;
    padding-left: 161px;
}

.reges-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 12px;
    color: #817F83;
    padding-top: 18px;
    padding-bottom: -12px;
    padding-left: 35px;
   
}

.reges-title span {
    background: #FFFFFF;
    padding-left: 35px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 2px;
    padding-right: 208px;
}


.line-3-and {
    width: 2222px;
    height: 1px;
    font-size: 1px;
    background: #DEDEDE;
    margin-bottom: 20px;
    
}

.line-3-and span {
    background: #DEDEDE;
    padding-left: 192px;
    margin-left: 353px;

}


/*-------Sumbit----------*/

.sumb-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 12px;

    padding-left: 408px;
    margin-top: -14px;
}


.sumb {
    background: #FFFFFF47;
    opacity: 180%;
    padding: 18px 43px;
    text-decoration: none;
    color: #F8F8F8;
}



/*---------Part 4 down seq---------*/

.down-sec {
    display: flex;
    margin-top: 91px;
    margin-bottom: 32px;
    background: #232F3899;
    opacity: 60%;
    padding-top: 31px;
    padding-bottom: 63px;
    margin-right: -163px;
    margin-left: -329px;
}



.title-down {
    font-family: 'Lora', serif;
    font-size: 26px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: -200px;
    margin-top: -99px;
    
}


.button-down {
    opacity: 60%;
    color: #FFFFFF;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 11px; 
    margin-left: 350px;
    margin-top: -19px;
}

.btn-down {
    padding-left: 20px;
    text-decoration: none;
    opacity: 60%;
    color: #FFFFFF;
    transition: color 0.4s linear;
}

.btn-down:hover {
    color: #5bffe9;
}


